hr{corlor: sienna;}
p{margin-left: 20px;}
li strong {
    font-style: italic;
    font-weight: normal;
}
strong {
    color: red;
}

h2 {
    color: red;
}

h2 strong {
    color: blue;
}
p {text-indent: -5em; padding-left: 5em;}
input{background-color: red;
    border-color: aqua}
body{
    background-image: url("../images/xiaomao.gif");
    background-repeat:no-repeat;
    background-position:center;
}